body{
    margin:0;
    text-align: center;
    color: #52605d;
    font-family: 'Merriweather', serif;
    font-size: 20px;

}
h1{ 
    color:#062c15e4;
    font-size: 4.45rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;

}
h2{
    color:#062c15e4;
    font-size:2rem;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color: #539165;
    font-family: 'Montserrat', sans-serif;

}
div{background-color: #EDF1D6;}

.bottom-container{ background-color: #98b397;
padding: 50px 0 20px;}

.middle-container{
    padding-top: 100px;
    padding-bottom: 50px;
}
.myname{
    color:whitesmoke;
    font-size: 0.75rem;
    padding: 20px 0;
    margin-bottom: 0px;}

.footer-link{
    margin: 30px 20px 30px 20px;
    color:#EDF1D6;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    color:whitesmoke
}

p{line-height: 2;}

/****************Class Selector*************/
.top-container{ background-color: #539165;
    position: relative;
    padding-top: 100px;
}

.pro{text-decoration: underline;}

.bottom-cloud{
    width:150px;
    height:70px;
    position:absolute;
    left:200px;
top:200px;}

.top-cloud{
    width:300px;
    height:150px;
    position:absolute;
    right:150px;
    top:50px;}

.sticker{
    width: 300px;
    height: 300px;
}

.skill-row{
    width: 75%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.profile{
    width:75%;
    margin: 0px auto 100px auto;
}


.fire-sticker{
    width:30%;
    float:left;
    margin-right: 30px;
}
.camp-sticker{
    width:30%;
    float:right;
    margin-left:30px;
}
.mountain{
    width:100%}

.code-skill-description{
    clear:left;
}

.fun-skill-description{
    clear:right;
}
hr{
    border: dotted #a2a499 6px;
    width:50px;
    border-bottom: none;
    margin: 100px auto 100px auto;
}
.contact-message{
width:50%;
margin:40px auto 60px;

}
.btn {
    background: #95c4ae;
    background-image: -webkit-linear-gradient(top, #95c4ae, #426e49);
    background-image: -moz-linear-gradient(top, #95c4ae, #426e49);
    background-image: -ms-linear-gradient(top, #95c4ae, #426e49);
    background-image: -o-linear-gradient(top, #95c4ae, #426e49);
    background-image: linear-gradient(to bottom, #95c4ae, #426e49);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #d9f7f1;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #78c48b 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #7aa17e;
    background-image: -webkit-linear-gradient(top, #7aa17e, #55735a);
    background-image: -moz-linear-gradient(top, #7aa17e, #55735a);
    background-image: -ms-linear-gradient(top, #7aa17e, #55735a);
    background-image: -o-linear-gradient(top, #7aa17e, #55735a);
    background-image: linear-gradient(to bottom, #7aa17e, #55735a);
    text-decoration: none;
  }
